<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Your message was received!</p>
    <p><strong>Your name: </strong><%= name &></p>
    <p><strong>Your message: </strong><%= message &></p>
  </body>
</html>
